[EnvVars]

# Note that those environment variable are meant for debugging purprose by the
# Toolkit team and therefore are subject to change. We advise that you not use
# these to run the Flow Production Tracking Toolkit at any time.

# Controls where this file is located. Obviously can't be set inside this file.
SGTK_DESKTOP_ENVVARS_LOCATION=~/Library/Caches/Shotgun/desktop/config/envvars.ini

# Overrides the core bundled with the tk-framework-desktopstartup as well as the
# one being downloaded when activating Toolkit.
SGTK_CORE_DEBUG_LOCATION=~/gitlocal/tk-core

# Let's the user point to a pipeline configuration instead of tk-default-site
# being download from the AppStore.
SGTK_SITE_CONFIG_DEBUG_LOCATION=~/gitlocal/tk-config-site

# Allow to override the descriptor associated with the bunlded code. By default,
# it returns an appstore descriptor so the code can come from the appstore, but
# it could also be set on first run so that updates can come from git.
SGTK_DESKTOP_BUNDLED_DESCRIPTOR={type: app_store, name: tk-framework-desktopstartup, version: v1.2.0}
SGTK_DESKTOP_BUNDLED_DESCRIPTOR={"type": "git", "path": "git@github.com:shotgunsoftware/tk-framework-desktopstartup.git", "version": "v0.0.12"}
SGTK_DESKTOP_BUNDLED_DESCRIPTOR={name: tk-framework-qtwidgets, type: app_store, version: v1.0.1}

# Allows to override the Flow Production Tracking Toolkit's tk-framework-desktopstartup and use any one you
# want. This disables updates.
SGTK_DESKTOP_STARTUP_LOCATION=~/gitlocal/tk-framework-desktopstartup

# Allows to override the bundled tk-framework-desktopserver and use any one you
# want. This disables updates.
SGTK_DESKTOP_SERVER_LOCATION=~/gitlocal/tk-framework-desktopserver

# Allows to override the version of the desktop installer distribution. Useful
# to make sure an update won't be run if the wrong version of the binairies are
# installed.
SGTK_DESKTOP_DEBUG_APP_VERSION=v1.0.0

# Fakes a failure while writing the startup_location.ini file.
SGTK_DESKTOP_FAKE_STARTUP_UPDATE_FAILURE=1

# Fakes a failure when bootstrapping.
SGTK_DESKTOP_FAKE_BOOTSTRAP_FAILURE=1

# Overrides the location of the config.ini file which is normally inside the
# installation folder. This neat trick allows you to put the contents of the
# config.ini inside debug.ini.
SGTK_DESKTOP_CONFIG_LOCATION=~/Library/Caches/Shotgun/desktop/config/debug.ini
