# To use any setting from this file, remove the # sign at the beginning and then
# edit the value.

# Login related settings
#
[Login]

# If specified, the username text input on the login screen will be populated
# with this value when logging into the Shotgun Desktop for the very first time.
# Defaults to the user's OS login.
#
# default_login=$USERNAME

# If specified, the site text input on the login screen will be populated with
# this value when logging into the Shotgun Desktop for the very first time.
# Empty by default.
#
# default_site=https://your-site-here.shotgunstudio.com

# If specified, the Shotgun Desktop will use these proxy settings to connect to
# the Shotgun site and the Toolkit App Store. The proxy string should be of the
# forms 123.123.123.123, 123.123.123.123:8888 or
# username:pass@123.123.123.123:8888.
# Empty by default.
#
# http_proxy=123.234.345.456:8888

# If specified, the Shotgun API Desktop will use these proxy settings to connect
# to the Toolkit App Store. The proxy string format is the same as http_proxy.
# If the setting is present in the file but not set, then no proxy will be used
# to connect to the Toolkit App Store, regardless of the value of the http_proxy
# setting.
# Empty by default.
#
# app_store_http_proxy=123.234.345.456:8888

# This is the browser integration settings section
#
[BrowserIntegration]

# If set to 0, this setting disables the browser integration.
# Defaults to 1.
#
# enabled=1

# Location where the certificate will be stored. If not specified, defaults to
# ../resources/keys.
#
# For reference, here are the paths that the Shotgun Desktop uses.
# MacOS:
# certificate_folder=~/Library/Caches/Shotgun/desktop/config/certificates
# Windows
# certificate_folder=$APPDATA\Shotgun\desktop\config\certificates
# Linux
# certificate_folder=~/.shotgun/desktop/config/certificates

# WARNING: This option will write sensitive information to the logs. We
# recommend turning this on ONLY for debugging. We recommend you clear or delete
# your logs after debugging.
# If set to 1, low level debugging messages from the server will be logged.
#
# low_level_debug=0

# Port to listen for requests coming from the browser. If not specified,
# defaults to 9000. Note that you will need to contact support at
# support@shotgunsoftware.com in order to have your site communicate on a custom
# port.
#
# port=9000

# Comma separated list of clients whitelisted to access this server. Use this when
# you have a local server. If not specified, defaults to *.shotgunstudio.com.
#
# whitelist=*.shotgunstudio.com
